.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    opacity: 1;
  }

  &-text {
    font-size: 30px;
    line-height: 35px;
    color: $white;
    padding-left: 9px;
  }
}
